.searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.searchBar input {
    width: 259px;
    padding: 10px 10px;
    border: none;
    color: #000000;
    font-size: 14px;
    outline: none;
}

h5 {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
}




.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filtersSection {
    flex: 1 1 200px;
    min-width: 200px;
    border: none;
}



.select {
    font-size: 12px;
    line-height: 22px;
}


.triangle {
    display: inline-block;
    transition: transform 0.1s ease-in-out;
    margin-right: 10px;
    font-size: 13px;
    color: #8D8D8D;
}

.triangleOpen {
    transform: rotate(180deg);
}




