@import url('https://fonts.cdnfonts.com/css/samsungone');

.washerCard {
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

/* .washerCard:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
} */

.washerCard img {
    width: 80%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.washerCard h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 20px 0;
}

.informationList {
    list-style: none;
    text-align: left;
    padding: 0%;
}

.informationList span {
    color: #000;
    font-weight: bold;
}
.washerCard li p {
    font-weight: 100;
    color: #767676;
    font-size: 12px;
    margin: 5px 0;
    text-align: left;
}

.washerCard p {
    font-weight: 100;
    color: #767676;
    font-size: 12px;
    margin: 5px 0 15px 0;
    text-align: left;
}

.energySection {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #767676; 
}

.energyBadge {
    
    font-size: 11px;
    font-weight: bold;
    padding: 2px 25px 2px 8px;
    margin: 5px 0;
    position: relative;
    background-color: #009949;
    color: #fff;
    display: inline-block;
}

.energyBadge span {
    color: #fff;
    font-weight: bold;
}
.energyBadge::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8.9px solid transparent;
    border-bottom: 8.9px solid transparent;
    border-left: 8px solid #009949;
}



.priceSection {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.regs {
    font-weight: 100;
    color: #767676;
    font-size: 12px;
    text-align: left;
    padding-bottom: -5px;
}
.price {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin: 0;
    display: flex;
    align-items: flex-start;
}
.priceDetails {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.detailsTop {
    margin-top: 80%;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.detailsBottom {
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    padding: 10% 0 0 5px;
}

.priceSection p {

    font-weight: 100;
    color: #767676;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.chooseButton {
    margin-top: auto;
    background-color: #1428A0;
    color: white;
    margin: 10px 0;
    padding: 10px 40px;
    border: none;
    border-radius: 24px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.selected {
    background-color: #1C1C1C; 
}