@import url('https://fonts.cdnfonts.com/css/samsungone');
body {
  margin: 0;
  font-family: 'SamsungOne', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: 'Samsung Sharp Sans', sans-serif;
}

